################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/roslyn_demo
/.vs/ProjectEvaluation
